/* Override default colors to make the site look more appealing */
$color-primary: #2980b9 !default;
$color-secondary: #c0def1 !default;
$color-edit: #2abb67 !default;

$color-gray-dark: #bdc3C7 !default;
$color-gray-light: #f1f3f3 !default;

$color-text: #2c3e50 !default;
$color-text-inverted: #ecf0f1 !default;
